.imageBack:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(41, 128, 185, .70);
}
.is-active {
  text-decoration-line: underline;
}
